<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>绑定账号</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript">
        var bind = function() {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var headers = {};
            headers[header] = token;
            var data = {};
            data["phone"] = $("#phone").attr("value");
            data["password"] = $("#password").attr("value");
            $.ajax({
                url: "/wechat/bind",
                type: "POST",
                data: data,
                dataType:'json',
                headers: headers,
                error: function(xhr, status, error) {
                    $("div#errorMsg").css("display", "block");
                    $("div#errorMsg p").text(JSON.parse(xhr.responseText).message);
                },
                success: function(data, status, xhr) {
                    $("div#errorMsg").css("display", "none");
                    var url = data.url;
                    if (data.cdr == "false") {
                        url = window.location.origin + url;
                    }
                    $(window.location).attr("href", url);
                }
            });
        }
    </script>
</head>
<body>
<div id="errorMsg" class="alert alert-error" th:style="${error} ? 'display:block' : 'display:none'">
    <p th:text="${error}">出错</p>
</div>
<div>
    <label for="phone">手机</label>
    <input id="phone" name="phone" type="text"/>
    <label for="password">密码</label>
    <input id="password" name="password" type="password"/>
    <input id="bind" name="bind" onclick="bind()" type="button" value="绑定"/>
</div>
</body>
</html>