<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>报表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="statementId" th:content="${statementId}"/>
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="/css/my-custom-theme.css" />
    <link rel="stylesheet" href="/css/jquery.mobile.icons.min.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <style>
        var.debit {
            font-weight: bold;
            color: red;
        }

        var.credit {
            font-weight: bold;
            color: green;
        }
    </style>
    <script type="text/javascript">
    /*<![CDATA[*/
        $(document).ready(function() {
            $("div#main").css("display", "none");
            $.mobile.loading( "show", {
                                text: "Loading...",
                                textVisible: true,
                                theme: "b",
                                textonly: false
                        });
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var statementId = $("meta[name='statementId']").attr("content");
            var headers = {};
            headers[header] = token;
            var data = {};
            data["statementId"] = statementId;
            $.ajax({
                    url: "/wechat/sheet_json",
                    type: "POST",
                    data: data,
                    dataType:'json',
                    headers: headers,
                    error: function(xhr, status, error) {
                        $.mobile.loading("hide");
                        alert(JSON.parse(xhr.responseText).message);
                    },
                    success: function(data, status, xhr) {
                        renderData(data);
                    }
                });
        });

        function renderData(data) {
            $("label[name='period']").html(data.period.sqlStr);
            $("var[name='cash']").html(data.cash);
            $("var[name='bankAccount']").html(data.bankAccount);
            $("var[name='revenue']").html(data.revenue);
            $("var[name='income']").html(data.income);
            $("var[name='cost']").html(data.cost);
            $("var[name='supplierCost']").html(data.supplierCost);
            $("var[name='salaryCost']").html(data.salaryCost);
            $("var[name='taxCost']").html(data.taxCost);
            $("var[name='receivable']").html(data.receivable);
            $("var[name='debt']").html(data.debt);
            $("var[name='supplierDebt']").html(data.supplierDebt);
            $("var[name='salaryDebt']").html(data.salaryDebt);
            $("var[name='taxDebt']").html(data.taxDebt);
            $("var[name='asset']").html(data.asset);
            $("var[name='liability']").html(data.liability);
            $("var[name='equity']").html(data.equity);

            drawChart1(data.cash, data.bankAccount);
            drawChart2(data.revenue, data.income, -data.supplierCost, -data.salaryCost, -data.taxCost);
            drawChart3(data.supplierDebt, data.salaryDebt, data.taxDebt);
            drawChart4(data.liability, data.equity);
            $.mobile.loading("hide");
            $("div#main").css("display", "block");
        }

        function drawChart1(cash, bankAccount) {
            // chart1 of page3
            $('#chart-container1').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: ['货币资金']
                },
                yAxis: {
                    title: {
                        text: ''
                    },
                    min: 0,
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.x}</b><br/>',
                    pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{series.name}</b>: {point.y}',
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: [{
                    name: '银行',
                    data: [bankAccount]
                }, {
                    name: '现金',
                    data: [cash]
                }]
            });
        }

        function drawChart2(revenue, income, supplierCost, salaryCost, taxCost) {
            $('#chart-container2').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        '进账',
                        '收入',
                        '供应商支出',
                        '税收支出',
                        '工资支出'
                    ],
                    crosshair: true
                },
                yAxis: {
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y}',
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                        }
                    }
                },
                series: [{
                    name: '收支',
                    data: [revenue, income, supplierCost, salaryCost, taxCost]

                }]
            });
        }

        function drawChart3(supplierDebt, salaryDebt, taxDebt) {
            $('#chart-container3').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            distance: -50,
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: '',
                    colorByPoint: true,
                    data: [{
                        name: '供应商',
                        y: supplierDebt
                    }, {
                        name: '税务局',
                        y: taxDebt
                    }, {
                        name: '工资',
                        y: salaryDebt
                    }]
                }]
            });
        }

        function drawChart4(liability, equity) {
            $('#chart-container4').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.y}',
                            distance: -50,
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: '',
                    colorByPoint: true,
                    data: [{
                        name: '债务',
                        y: liability,
                        sliced: true,
                        selected: true
                    }, {
                        name: '股东',
                        y: equity
                    }]
                }]
            });
        }

        function navnext(next) {
            $(":mobile-pagecontainer").pagecontainer("change", next, {
                transition: "slide"
            });
        }

        function navprev(prev) {
            $(":mobile-pagecontainer").pagecontainer("change", prev, {
                transition: "slide",
                reverse: true
            });
        }


        $(document).one("pagecreate", "#page1", function() {
            // Handler for navigating to the next page
            // Navigate to the next page on swipeleft
            $(document).on("swipeleft", ".ui-page", function(event) {
                // Get the filename of the next page. We stored that in the data-next
                // attribute in the original markup.
                var next = $(this).jqmData("next");
                if (next) {
                    navnext(next);
                }
            });
            // The same for the navigating to the previous page
            $(document).on("swiperight", ".ui-page", function(event) {
                var prev = $(this).jqmData("prev");
                if (prev) {
                    navprev(prev);
                }
            });
        });
    /*]]>*/
    </script>
</head>
<body>
<div id="main" style="display: none">
    <div id="page1" data-role="page" data-prev="" data-next="#page2">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(1)</h1>
        </div>
        <div data-role="content">
            <p>公司账上有多少钱</p>
            <pre>  现金<var name="cash" class="debit"></var>万元，银行<var name="bankAccount" class="debit"></var>万元</pre>
            <p>本月（季）收支情况</p>
            <pre>  进账<var name="revenue" class="debit"></var>万元</pre>
            <pre>   其中收入<var name="income" class="debit"></var>万元</pre>
            <pre>  支出<var name="cost" class="credit"></var>万元</pre>
            <pre>   其中供应商<var name="supplierCost" class="credit"></var>万元；工资<var name="salaryCost" class="credit"></var>万元；交税<var name="taxCost" class="credit"></var>万元</pre>
            <p>有多少钱还没收回来</p>
            <pre>  <var name="receivable" class="debit"></var>万元</pre>
            <p>有多少钱要付出去</p>
            <pre>  <var name="debt" class="credit"></var>万元</pre>
            <pre>   其中供应商<var name="supplierDebt" class="credit"></var>万元；工资<var name="salaryDebt" class="credit"></var>万元；交税<var name="taxDebt" class="credit"></var>万元</pre>
        </div>
    </div>

    <div id="page2" data-role="page" data-prev="#page1" data-next="#page3">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(2)</h1>
        </div>
        <div data-role="content">
            <p>公司账上有多少资产<var name="asset" class="debit"></var>万元</p>
            <p>这些资产从哪里来</p>
            <pre>  属于股东的<var name="equity" class="credit"></var>万元</pre>
            <pre>  需要偿还的<var name="liability" class="credit"></var>万元</pre>
        </div>
    </div>

    <div id="page3" data-role="page" data-prev="#page2" data-next="#page4">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(3)</h1>
        </div>
        <div data-role="content">
            <p>公司账上有多少钱</p>
            <div id="chart-container1" style="height: 400px; min-width: 92%; margin: 0 auto"></div>
        </div>
    </div>

    <div id="page4" data-role="page" data-prev="#page3" data-next="#page5">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(4)</h1>
        </div>
        <div data-role="content">
            <p>本月收支情况</p>
            <div id="chart-container2" style="height: 400px; min-width: 92%; margin: 0 auto"></div>
        </div>
    </div>

    <div id="page5" data-role="page" data-prev="#page4" data-next="#page6">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(5)</h1>
        </div>
        <div data-role="content">
            <p>有<var name="debt" class="credit"></var>万要付出去</p>
            <div id="chart-container3" style="height: 400px; min-width: 92%; margin: 0 auto"></div>
        </div>
    </div>

    <div id="page6" data-role="page" data-prev="#page5" data-next="">
        <div data-role="header" data-position='fixed'>
            <h1><label style="display:inline" name="period"></label>期财务报告(6)</h1>
        </div>
        <div data-role="content">
            <p>公司账上有<var name="asset" class="debit"></var>万，资产渠道为</p>
            <div id="chart-container4" style="height: 400px; min-width: 92%; margin: 0 auto"></div>
        </div>
    </div>
</div>
</body>
</html>