<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>编辑报表</title>
</head>
<body>
<h1 layout:fragment="header">上传报表</h1>
<div layout:fragment="content" class="container">
    <form id="companyForm" th:action="@{/admin/company/form}" th:object="${companyForm}" action="#" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">验证出错</p>
        </div>
        <div class="pull-right">
            <a th:href="@{~/admin/company/}" href="company.html">查看全部</a>
        </div>
        <label for="companyId">公司</label>
        <select name="companyId" id="companyId" th:field="*{companyId}">
            <option th:each="company: ${companies}" th:value="${company.id}" th:text="${company.name}">company name</option>
        </select>
        <div class="form-actions">
            <input type="submit" value="Save"/>
        </div>
    </form>
</div>
</body>
</html>
