<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>报表列表</title>
</head>
<body>
<h1 layout:fragment="header">报表列表</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success" th:if="${message}" th:text="${message}">
        message
    </div>
    <div class="pull-right">
        <a href="form.html" th:href="@{/admin/statement/upload}">添加</a> |
        <a href="form.html" th:href="@{/admin/company/}">公司列表</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>公司</td>
            <td>报告期</td>
            <td>上传时间</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${sheets.empty}">
            <td colspan="4">木有</td>
        </tr>
        <tr th:each="sheet : ${sheets}">
            <td th:text="${sheet.id}">1</td>
            <td th:text="${sheet.companyName}">1</td>
            <td><a href="edit.html" th:href="@{/admin/statement/edit/{id}(id=${sheet.id})}" th:text="${sheet.period}">
                2016-01 </a></td>
            <td th:text="${#calendars.format(sheet.dateCreated)}">
                Wed Mar 30 16:31:14 CST 2016
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
